* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 900px;
    margin: 0px auto;
}

.test {
    border: 1px;
    margin: 5 5 5 5;
}

.table{
    background-color: aquamarine;
    text-align: center;
}

.table th:hover{
    background: red;
    border-radius: 5px;
}


.table tbody td{
    text-align: center;
    color: aquamarine;
}


/* ---Phung--- */
.phung{
    background-color: black;
}



/* phú lần 2 */
#btn_delete{
    margin: 12px;
    border:  2px solid #565656 ;
    color: aquamarine;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.8;
}

.container{
    background-color: aquamarine;
}

/* ----End Phung -----*/

