* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: aliceblue;  
}

.container {
    max-width: 900px;
    margin: 0px auto;
    background-color: darkgray;
}

.test {
    border: 1px;
    margin: 5 5 5 5;
}

.table{
    background-color: aquamarine;
    text-align: center;
}

/* Thủy */

h1{
    font-size: 30px;
    color: aqua;
}

.btn{
    padding: 0;
    margin: 0;
}

