* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
<<<<<<< HEAD
    font-size: 10px;
    color: aliceblue;  
=======
>>>>>>> 26fd48189f53fe479ffd31621e69607971f615ca
}

.container {
    max-width: 900px;
    margin: 0px auto;
}

.test {
    border: 1px;
    margin: 5 5 5 5;
}

.table{
    background-color: aquamarine;
    text-align: center;
}


/* Thủy */

h1{
    font-size: 30px;
    color: aqua;
}

.btn{
    padding: 0;
    margin: 0;
}

.table th:hover{
    background: red;
    border-radius: 5px;
}


.table tbody td{
    text-align: center;
    color: aquamarine;
}

/* phú lần 2 */
#btn_delete{
    margin: 12px;
    border:  2px solid #565656 ;
    color: aquamarine;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.8;
}

